[submodule "libs/cpp-canonical-wav-decoder"]
	path = libs/cpp-canonical-wav-decoder
	url = https://github.com/soundhive/cpp-canonical-wav-decoder.git
[submodule "libs/dejavu_cpp_port"]
	path = libs/dejavu_cpp_port
	url = git@github.com:soundhive/dejavu_cpp_port.git
[submodule "libs/minimp3"]
	path = libs/minimp3
	url = git@github.com:soundhive/minimp3.git
